/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define DEFAULT		0
#define SYM			1
#define NAV			2
#define QWERTY		3

#define THUMB_NONE 	&none &none &none &none
#define XXX 		&none

#define QUICK_TAP_MS_DEFAULT 125

// Unimplemented features
#define L_MOUSE XXX
#define R_MOUSE XXX
#define M_MOUSE XXX
#define SW_APP_0 XXX
#define SW_APP_1 XXX
#define SW_APP_2 XXX
#define SW_APP_3 XXX

&lt {
	quick-tap-ms = <QUICK_TAP_MS_DEFAULT>;
};

&mt {
	quick-tap-ms = <QUICK_TAP_MS_DEFAULT>;
};

/ {
	behaviors {
		hrm: home-row-mod {
			compatible = "zmk,behavior-hold-tap";
			label = "HOME_ROW_MOD";
			#binding-cells = <2>;
			flavor = "tap-preferred";
			tapping-term-ms = <200>;
			quick-tap-ms = <QUICK_TAP_MS_DEFAULT>;
			global-quick-tap;
			bindings = <&kp>, <&kp>;
		};
		tlt: toggle-layer-tap {
			compatible = "zmk,behavior-hold-tap";
			label = "TOGGLE_LAYER_TAP";
			#binding-cells = <2>;
			flavor = "tap-preferred";
			tapping-term-ms = <200>;
			quick-tap-ms = <QUICK_TAP_MS_DEFAULT>;
			bindings = <&tog>, <&kp>;
		};
		rsb: reset-bootloader {
			compatible = "zmk,behavior-tap-dance";
            label = "RESET_BOOTLOADER";
            #binding-cells = <0>;
            tapping-term-ms = <1000>;
            bindings = <&reset>, <&bootloader>, <&tog 3>;
		};

		/**
		 * Custom shifted keys
		 */
		comma_qmark: comma_qmark-custom-shift {
            compatible = "zmk,behavior-mod-morph";
            label = "comma_qmark_CUSTOM_SHIFT";
            #binding-cells = <0>;
            bindings = <&kp COMMA>, <&kp QMARK>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
    	};
		semi_tilde: semi_tilde-custom-shift {
            compatible = "zmk,behavior-mod-morph";
            label = "semi_tilde_CUSTOM_SHIFT";
            #binding-cells = <0>;
            bindings = <&kp SEMI>, <&kp TILDE>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
    	};
		dot_excl: dot_excl-custom-shift {
            compatible = "zmk,behavior-mod-morph";
            label = "dot_excl_CUSTOM_SHIFT";
            #binding-cells = <0>;
            bindings = <&kp DOT>, <&kp EXCL>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
    	};
		fslh_bslh: fslh_bslh-custom-shift {
            compatible = "zmk,behavior-mod-morph";
            label = "fslh_bslh_CUSTOM_SHIFT";
            #binding-cells = <0>;
            bindings = <&kp FSLH>, <&kp BSLH>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
    	};
		f1_f10: f1_f10-custom-shift {
            compatible = "zmk,behavior-mod-morph";
            label = "f1_f10_CUSTOM_SHIFT";
            #binding-cells = <0>;
            bindings = <&kp F1>, <&kp F10>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
   	 	};
		f2_f11: f2_f11-custom-shift {
            compatible = "zmk,behavior-mod-morph";
            label = "f2_f11_CUSTOM_SHIFT";
            #binding-cells = <0>;
            bindings = <&kp F2>, <&kp F11>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
    	};
		f3_f12: f3_f12-custom-shift {
            compatible = "zmk,behavior-mod-morph";
            label = "f3_f12_CUSTOM_SHIFT";
            #binding-cells = <0>;
            bindings = <&kp F3>, <&kp F12>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
    	};
		f4_f13: f4_f13-custom-shift {
            compatible = "zmk,behavior-mod-morph";
            label = "f4_f13_CUSTOM_SHIFT";
            #binding-cells = <0>;
            bindings = <&kp F4>, <&kp F13>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
    	};
		f5_f14: f5_f14-custom-shift {
            compatible = "zmk,behavior-mod-morph";
            label = "f5_f14_CUSTOM_SHIFT";
            #binding-cells = <0>;
            bindings = <&kp F5>, <&kp F14>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
    	};
		f6_f15: f6_f15-custom-shift {
            compatible = "zmk,behavior-mod-morph";
            label = "f6_f15_CUSTOM_SHIFT";
            #binding-cells = <0>;
            bindings = <&kp F6>, <&kp F15>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
    	};
		f7_f16: f7_f16-custom-shift {
            compatible = "zmk,behavior-mod-morph";
            label = "f7_f16_CUSTOM_SHIFT";
            #binding-cells = <0>;
            bindings = <&kp F7>, <&kp F16>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
    	};
		f8_f17: f8_f17-custom-shift {
            compatible = "zmk,behavior-mod-morph";
            label = "f8_f17_CUSTOM_SHIFT";
            #binding-cells = <0>;
            bindings = <&kp F8>, <&kp F17>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
    	};
		f9_f18: f9_f18-custom-shift {
            compatible = "zmk,behavior-mod-morph";
            label = "f9_f18_CUSTOM_SHIFT";
            #binding-cells = <0>;
            bindings = <&kp F9>, <&kp F18>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
    	};
	};

	keymap {
		compatible = "zmk,keymap";

		default_layer {
			bindings = <
	XXX	&kp Q      	&kp W       &kp F        	&kp P       	&kp B                		&kp J		&kp L       	&kp U           &kp Y      		&semi_tilde	XXX
	XXX	&hrm LGUI A	&hrm LALT R	&hrm LSHIFT S	&hrm LCTRL T	&kp G                       &kp M       &hrm RCTRL N	&hrm RSHIFT E  	&hrm RALT I		&hrm RGUI O	XXX
	XXX	&kp Z      	&kp X       &kp C        	&kp D       	&kp V 		THUMB_NONE    	&kp K       &kp H      		&comma_qmark	&dot_excl		&fslh_bslh 	XXX
		&rsb       	&tog NAV 	&kp DEL    		&lt NAV BSPC	&kp RET              		&kp TAB		&lt SYM SPACE	&kp ESC        	&key_repeat		&rsb
			>;

			sensor-bindings = <&inc_dec_kp PG_UP PG_DN &inc_dec_kp PG_UP PG_DN>;
		};


		/**
		*   Features (mostly ordered by importance):
		*		ENG: DOT, COMMA, QMARK, EXCL
		*			SEMI, COLON, DQT, SQT
		* 		C: SEMI, EQUAL, LPAR, RPAR, LBRC, RBRC, UNDER,
		*			EXCL, SQT, DQT, PRCNT, STAR, PLUS, MINUS, LT, GT, LBKT, RBKT, AMPS, PIPE, HASH,
		* 			QMARK, 
		*		bash: SQT, DQT, TILDE, FSLH, DLLR, AMPS, PIPE
		*			LBRC, RBRC, GT, STAR,
		*        
		*		Low usage: AT, GRAVE, BSLH, CARET
		*/

		sym_layer {
			bindings = <
	XXX	&kp GT		&kp N1	&kp N2	&kp N3	&kp PLUS                &kp PRCNT  	&kp LBKT 	&kp RBKT 	&kp AMPS    &kp AT		XXX
	XXX	&kp EQUAL	&kp N4	&kp N5	&kp N6	&kp MINUS				&kp COLON	&kp LPAR 	&kp RPAR    &kp UNDER  	&caps_word	XXX
	XXX	&kp LT		&kp N7	&kp N8	&kp N9	&kp STAR	THUMB_NONE	&kp DLLR   	&kp LBRC 	&kp RBRC	&kp PIPE   	&kp HASH	XXX
	    &trans		&trans	&kp SQT	&kp N0  &kp DQT                 &kp GRAVE  	XXX 		&kp CARET	XXX			XXX
			>;

			sensor-bindings = <&inc_dec_kp PG_UP PG_DN &inc_dec_kp PG_UP PG_DN>;
		};

		/**
		*   Features:
		*		Arrows (L hand): LEFT, RIGHT, UP, DOWN
		*		Mouse (L hand):  LEFT, RIGHT, MIDDLE, BACK, FORWARD
		*		Mods (L hand): LCTRL, LSHIFT, LALT
		*		Actions: Ctrl c, ctrl x, ctrl v, PRSCRN, Ctrl Z, Ctrl Y, ctrl S
		*		Media: 	C_VOL_UP, C_VOL_DN, C_MUTE, 
		*				video (ctrl alt v), screenshare (ctrl alt s), leave (ctrl alt e)
		*		BT: BT_NEXT, BT_CLR
		*
		* missing: hbt BT_CLR BT_NXT
		*/

		nav_layer {
			bindings = <
	XXX	&kp LA(RIGHT)	&kp PG_DN		&kp UP				&kp PG_UP			&key_repeat            		&kp C_VOL_UP		&f1_f10 			&f2_f11					&f3_f12		XXX			XXX
	XXX	&kp LA(LEFT)	&kp LEFT		&kp DOWN			&kp RIGHT			&kp LG(TAB)					&kp C_MUTE 			&f4_f13 			&f5_f14					&f6_f15 	&kp PSCRN	XXX
	XXX	&kp LC(Z)		&hrm LALT LC(X)	&hrm LSHIFT LC(C)	&hrm LCTRL LC(V)	&kp LC(Y)		THUMB_NONE 	&kp C_VOL_DN		&f7_f16				&f8_f17					&f9_f18		&kp LC(S)	XXX
		XXX				&tog NAV		M_MOUSE				L_MOUSE				R_MOUSE						&mt RSHIFT SW_APP_0	&mt RCTRL SW_APP_1	&mt RC(RSHIFT) SW_APP_3	XXX			XXX
			>;

			sensor-bindings = <&inc_dec_kp PG_UP PG_DN &inc_dec_kp PG_UP PG_DN>;
		};

		qwerty_layer {
			bindings = <
	XXX	&kp Q		&kp W  		&kp E  			&kp R  			&kp T                 &kp Y  	&kp U			&kp I     		&kp O   	&kp P       	XXX  
	XXX	&hrm LGUI A	&hrm LALT S	&hrm LSHIFT R	&hrm LCTRL T	&kp G                 &kp H  	&hrm RCTRL J	&hrm RSHIFT K	&hrm RALT L	&hrm RGUI SEMI	XXX  
	XXX	&kp Z 		&kp X  		&kp C  			&kp V  			&kp B   THUMB_NONE    &kp N  	&kp M  			&kp COMMA 		&kp DOT 	&kp FSLH    	XXX  
		&tog QWERTY	&trans 		&trans 			&trans 			&trans                &trans	&trans 			&trans    		&trans  	&tog QWERTY
			>;

			sensor-bindings = <&inc_dec_kp PG_UP PG_DN &inc_dec_kp PG_UP PG_DN>;
		};
	};
};
